[submodule "external/tracktion_engine"]
	path = external/tracktion_engine
	url = https://github.com/Tracktion/tracktion_engine.git
[submodule "external/vst3sdk"]
	path = external/vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk.git
[submodule "external/simplefilewatcher"]
	path = external/simplefilewatcher
	url = https://github.com/apetrone/simplefilewatcher/
[submodule "external/ntractive"]
	path = external/ntractive
	url = https://github.com/atsushieno/ntractive.git
